@import "./App.scss";
@import "./pages/login/login-page.scss";
@import "./pages/register/register-page.scss";
@import "./pages/home/home-page.scss";
@import "./components/login-form/login-form.scss";
@import "./components/register-form/register-form.scss";

body {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
}