@import "./App.scss";
@import "./pages/login/login-page.scss";
@import "./pages/register/register-page.scss";
@import "./pages/reflection/reflection-page.scss";
@import "./pages/home/home-page.scss";
@import "./components/login-form/login-form.scss";
@import "./components/register-form/register-form.scss";
@import "./components/nav-bar/nav-bar.scss";

body {
  background-color: rgb(229, 255, 252);
  height: 100vh;
  width: 100vw;
}