.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.home-page__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.home-page__menu .container {
    width: 50%;
    text-align: center;
}